<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="side">
        <mat-nav-list>

            <div class="button-container">
                <button mat-button class="custom-button" (click)="openComponent('Home')"
                    [class.selected]="component === 'Home'">
                    {{ 'Home' }}
                </button>
                <ng-container *ngFor="let menuItem of menuItems">
                    <button mat-button class="custom-button" (click)="openComponent(menuItem.menuUrl)"
                        [class.selected]="component === menuItem.menuUrl">
                        {{ menuItem.menuName }}
                    </button>
                </ng-container>
            </div>
        </mat-nav-list>
    </mat-drawer>

    <div class="home-sidenav-content">
        <div class="home-header-content">
            <button type="button" class="menu-button" mat-button (click)="drawer.toggle()">
                Menu
            </button>
        </div>
        <div class="component-content">
            <!-- <div class="banner" *ngIf="component==='Home'">
                <img class="image-content" src="../../../assets/SuperShop.jpg">
            </div> -->
            <app-create-user *ngIf="component==='CreateUser'"></app-create-user>
            <app-edit-user *ngIf="component==='EditUser'"></app-edit-user>
            <app-create-menu *ngIf="component==='CreateMenu'"></app-create-menu>
            <app-menu-configuration *ngIf="component==='MenuConfiguration'"></app-menu-configuration>
            <app-create-user-menu-permission *ngIf="component==='UserMenuPermission'"></app-create-user-menu-permission>
            <app-menu-permission-config *ngIf="component==='MenuPermissionConfiguration'"></app-menu-permission-config>
            <app-create-item-type *ngIf="component==='CreateItemType'"></app-create-item-type>
            <app-item-type-config *ngIf="component==='ItemTypeConfiguration'"></app-item-type-config>
            <app-create-item *ngIf="component==='CreateItem'"></app-create-item>
            <app-item-config *ngIf="component==='ItemConfiguration'"></app-item-config>

            <app-create-item-transaction-type
                *ngIf="component==='CreateItemTransactionType'"></app-create-item-transaction-type>
            <app-create-item-transaction-typ-cofig
                *ngIf="component==='ItemTransactionTypeConfiguration'"></app-create-item-transaction-typ-cofig>
            <app-item-transaction *ngIf="component==='ItemTransaction'"></app-item-transaction>


        </div>
    </div>



</mat-drawer-container>