body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(160, 216, 226, 0.5);
}

.home-sidenav-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;

}

.home-header-content {
    display: flex;
    width: 1868px;
    align-items: flex-start;
    border: 5px solid rgba(226, 160, 160, 0.5);
    padding: 0 20px;
}

.menu-button {
    margin-right: auto;
}

.component-content {
    padding-left: 2%;
    padding-right: 2%;
}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 206, 166);
}

.custom-button:hover {
    background-color: #7fc783;
}

.custom-button.selected {
    background-color: #1d8a22;
}

.custom-button {
    margin-right: 10px;
}

.custom-button:last-child {
    margin-right: 0;
}