<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="side">
        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuItems">
                <!-- <a mat-list-item routerLink="{{ menuItem.menuUrl }}">{{ menuItem.menuName }}</a> -->
                <a mat-list-item (click)="openComponent(menuItem.menuUrl)">{{ menuItem.menuName }}</a>
            </ng-container>
        </mat-nav-list>
    </mat-drawer>

    <div class="home-sidenav-content">
        <div class="home-header-content">
            <button type="button" class="menu-button" mat-button (click)="drawer.toggle()">
                Menu
            </button>
        </div>
        <div class="component-content">
            <app-create-user *ngIf="component==='CreateUser'"></app-create-user>
            <app-edit-user *ngIf="component==='EditUser'"></app-edit-user>
            <app-create-menu *ngIf="component==='CreateMenu'"></app-create-menu>
            <app-menu-configuration *ngIf="component==='MenuConfiguration'"></app-menu-configuration>
            <app-create-user-menu-permission *ngIf="component==='UserMenuPermission'"></app-create-user-menu-permission>
            <app-menu-permission-config *ngIf="component==='MenuPermissionConfiguration'"></app-menu-permission-config>
        </div>
    </div>



</mat-drawer-container>