body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-container {
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: block !important;
    border: 3px solid rgba(19, 58, 143, 0.5);
}


.home-sidenav-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.home-header-content {
    display: flex;
    align-items: flex-start;
    border: 5px solid rgba(226, 160, 160, 0.5);
    padding: 0 20px;
}

.home-footer-content {
    display: flex;
    /* width: 1868px; */
    align-items: flex-start;
    padding: 0 20px;
}

.menu-button {
    margin-right: auto;
    width: 100%;
}

.component-content {}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 206, 166);
}

.custom-button:hover {
    background-color: #7fc783;
}

.custom-button.selected {
    background-color: #1d8a22;
}

.custom-button {
    margin-right: 10px;
}

.custom-button:last-child {
    margin-right: 0;
}

.banner {
    height: 100%;
    max-width: 100%;
    border: 5px solid black;
}

.image-content {
    height: 100%;
    width: 100%;
}