<div class="config">
    <div class="filter-boxes-container">
        <div class="sort-box">
            <div class="form-group">
                <!-- <label for="taskdescription">Is Complete</label>
                <select id="status" [(ngModel)]="sortLanding.status" placeholder="Priority">
                    <option [ngValue]="null">ALL</option>
                    <option [ngValue]="true">YES</option>
                    <option [ngValue]="false">NO</option>
                </select> -->
            </div>
        </div>
        <div class="search-box">
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="text" id="task" [(ngModel)]="datafilter.searchTerm" placeholder="Search by UserID Or Name"
                    class="text-input">
            </div>
            <div class="form-group">
                <button class="common-button" (click)="getAllUser();">Search</button>
            </div>
            <div class="form-group">
                <button class="common-button" (click)="ResetSearchTerm();">All</button>
            </div>

        </div>
    </div>

    <table class="todo-table">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Type</th>
                <th>User Full Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userlist; let i = index">
                <td>{{ user.id }}</td>
                <td *ngIf="editIndex !== i">{{ user.userTypeName }}</td>
                <td *ngIf="editIndex === i">
                    <select [(ngModel)]="userlist[i].userTypeId">
                        <option *ngFor="let userType of userType" [value]="userType.value"
                            [selected]="userType.value === userlist[i].userTypeId">
                            {{ userType.name }}
                        </option>
                    </select>
                </td>

                <td *ngIf="editIndex !== i">{{ user.userFullName }}</td>
                <td *ngIf="editIndex === i"><input type="text" [(ngModel)]="userlist[i].userFullName" /></td>

                <td *ngIf="editIndex !== i">{{ user.userName }}</td>
                <td *ngIf="editIndex === i"><input type="text" [(ngModel)]="userlist[i].userName" /></td>

                <td *ngIf="editIndex !== i">{{ user.password }}</td>
                <td *ngIf="editIndex === i"><input type="text" [(ngModel)]="userlist[i].password" /></td>

                <td>
                    <button *ngIf="isEditAndDeleteVisiable === true" class="edit-button"
                        (click)="editUser(i)">Edit</button>
                    <button *ngIf="isEditAndDeleteVisiable === true" class="delete-button"
                        (click)="deleteUser(i)">Delete</button>
                    <button *ngIf="isEditAndDeleteVisiable === false and editIndex === i" class="save-button"
                        class="save-button" (click)="saveUser(i)">Save</button>
                    <button *ngIf="isEditAndDeleteVisiable === false and editIndex === i" class="cancel-button"
                        class="cancel-button" (click)="cancelEdit()">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>