/* Apply styles to text inputs, select elements, and textareas */
input[type=text],
/* select,
textarea {
    width: calc(100% - 24px);
    padding: 12px;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
} */
select,
textarea {
    width: 100%;
    padding: 12px;
    /* Padding on all sides */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Apply styles to submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Hover styles for submit button */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Styles for the form container */
.user-form {
    padding: 2%;
    /* Adjusted padding */
    width: 80%;
    max-width: 600px;
    /* Set a maximum width for better readability */
    margin: 0 auto;
    /* Center the form horizontally */
    display: flex;
    flex-direction: column;
}